

.section-skills {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    flex-wrap: wrap;
}

.article-skills {
    flex: 1;
    flex-wrap: wrap;
    background: #1e1e1e;
    padding: 1.5rem;
    margin: 1rem;

    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.article-skills ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}

.article-skills ul li{
    margin: .5rem;
    flex-wrap: wrap;

}

@media only screen and (max-width: 900px) {


    .article-skills {
        width: 90%;
    }
  }

