
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #141414;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;

}

ul {
  list-style: none;
}

a{
  text-decoration: none;
  color: none;
}


/* Estilos para iconos */
.icon {
  font-size: 2.5rem;
  padding: .2rem;
  transition: color 0.3s, text-shadow 0.3s;
}



.icon:hover {
  font-size: 2.4rem;
  box-shadow: 1px 1px 10px #01c5e7b4;
  border-radius: 5px;
}

.tag-html { color: #E44D26; }
.tag-css { color: #1572B6; }
.tag-javascript { color: #F7DF1E; }
.tag-react { color: #61DAFB; }
.tag-angular { color: #dd2525; }
.tag-git { color: #F34F29; }
.tag-github { color: #181717; background-color: #fff; border-radius: 40%;}
.tag-bootstrap { color: #7952B3; }
.tag-tailwind { color: #38B2AC; }
.tag-sass {color: #c95cc9;}
.tag-figma {color: #c501e2;}
.tag-linkedin {
  color: #007ACC
}

.icon-container {
  position: relative;
  display: inline-block;
  margin: 0 5px;
}

.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: #040407;
  color: #2ef8a0;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Posición encima del icono */
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
  /* Animation */
  transform: translateY(10px);
  transition: transform 0.3s, opacity 0.3s;
}

.icon-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

